asttokens==3.0.0
certifi==2025.4.26
charset-normalizer==3.4.2
colorama==0.4.6
dotenv==0.9.9
executing==2.2.0
github-readme-terminal==0.0.3
icecream==2.1.4
idna==3.10
pillow==10.4.0
pygments==2.19.1
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
requests==2.32.4
six==1.17.0
tomli==2.2.1
tzdata==2025.2
urllib3==2.4.0
